<h3>Benutzer {{ firstname }} {{ lastname }}</h3>
<p>Bemerkung: {{ addition }} </p> 
<br>
{# example, assuming you have a route named "login" #}
Um zum Benutzer zu gelangen: <a href="{{ url('details',{'id':id}) }}">{{ firstname }} {{ lastname }}</a>.
<br>
Dankeschön!



